.about {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.5rem;
    &-intro {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }
    &-block {
        display: flex;
        gap: 2rem;
        max-width: 960px;
        width: 100%;
        margin: 10rem auto 10rem;
        align-items: center;
        @media (max-width: 749px) {
            margin: 5rem auto 5rem auto;
            flex-direction: column;
        }
        &.reverse {
            flex-direction: row-reverse;
            @media (max-width: 749px) {
                flex-direction: column;
            }
        }
        &:last-of-type {
            flex-direction: column;
            gap: 3rem;
            .about-text,
            .about-image {
                width: 100%;
            }
        }
    }
    &-text {
        width: calc(100% / 2);
        text-align: center;
        @media (max-width: 749px) {
            width: 100%;
        }
        .about-support-sub {
            text-align: center;
            color: #f4a261;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .about-name {
            text-align: end;
            display: block;
            font-size: 1.8rem;
            font-weight: bold;
            margin-top: 1.5rem;
        }
        .about-title {
            margin-bottom: 2rem;
        }
    }
    h2,
    h3 {
        text-align: center;
    }
    h2 {
        padding-top: 4rem;
        margin-bottom: 4rem;
    }
    h3 {
        font-size: 2.2rem;
    }
    // p {
    //     font-size: 1.8rem;
    //     font-weight: bold;
    //     line-height: 2;
    //     margin: 0;
    // }
    &-image {
        width: calc(100% / 2);
        display: flex;
        justify-content: center;
        @media (max-width: 749px) {
            width: 100%;
        }
        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }
}