h2 {
    margin-top: 85px;
    color: #F4A261;
    font-weight: bold;
    font-size: 3.2rem;
    text-align: center;
    @media screen and (max-width: 749px) {
        font-size: 2.6rem;
    }
    &-sub {
        margin-top: 0;
        font-size: 2.6rem;
        @media screen and (max-width: 749px) {
            font-size: 2.2rem;
        }
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 80px;
    margin-top: 80px;
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    background-color: #F4A261;
    transition: transform .3s ease;
    @media screen and (max-width: 749px) {
        margin-top: 5rem;
        font-size: 2rem;
    }
    &:hover {
        transform: scale(1.05);
    }
}